
body { 		/* Indicateur qui nous indique sur quelle partie du html nous allons lancer des modifications. On va tenir les modifications entre deux accolades. */
      font-size : 12px;		/*Font-size nous permet de modifier la police de caractère*/
}


input:hover { 		/* Les class sont indiqués en commancant par un point suivi du nom de la class. ":hover" va quant a lui lancer une petite animation lorsque le curseur de la souris survolera les class en question*/

	background-color: #B5FFB5;	 /*Background-color changera le fond de la class et on lui donnera un code couleur ou le nom de la couleur en anglais directement */
}

 
#Homme {
	border : 2px dashed blue;
	display : inline;
	width:150px;
}

.align {
	display : block;		/* Display controle la mise en page du code ces valeurs par défaut sont block ou inline.*/
	width: 150px; 			/*Width permet de spécifier la largeur d'un élément celui des labels pour cette occasion*/
	margin: auto 8px auto auto;  			/*Margin gère les marges extérieures (haut, droite, bas, gauche)*/
	float: left;			/*Float spécifie à un élément qu'il doit être retiré du flux normal et qu'il doit soit se placer à droite ou à gauche*/
	letter-spacing: 1px;	/*Letter-spacing détermine l'espace entre les caractères*/
}

.blue_border {
	display : block;		/* Display controle la mise en page du code ces valeurs par défaut sont block ou inline.*/
	width: 150px; 			/*Width permet de spécifier la largeur d'un élément celui des labels pour cette occasion*/
	float: left;			/*Float spécifie à un élément qu'il doit être retiré du flux normal et qu'il doit soit se placer à droite ou à gauche*/
	letter-spacing: 1px;
}

select {
	margin-left: 8px;
}

.Prenom {
	border: 3px dashed blue;
	display: inline;
	width:150px;
	padding: 5px;
}

.Site_web {
	border: 3px dashed blue;
	padding: 5px;
	display: inline;
	width:150px;
}

input[type="submit"] {
	border: #DDEEFF 1px solid;
	width: 15%;							/*Le % du width est déterminé par le width du premier parent ayant une position relative*/
	box-shadow : 5px 0px 6px black ;	/*Le box-shadow permet de générer une ombre sur la bordure, on modifie le (x, y , la nuance et la couleur de l'ombre)*/
	border-radius : 5px;				/*Le border-radius nous sert à arrondir les coins des bordures*/
}
 input[type="submit"]:hover {
 	background-color:#B5FFB5;
 	box-shadow: 0 5px 6px #D4EAD4 inset;
 }
