body { 		                           /* Indicateur qui nous indique sur quelle partie du html nous allons lancer des modifications. On va tenir les modifications entre deux accolades. */
      font-size : 12px;		           /*Font-size nous permet de modifier la police de caractère*/
      letter-spacing: 1px;	           /*Letter-spacing détermine l'espace entre les caractères*/
      padding-top: 15px;
      background-image:url("font.jpg");
      color:#ffffff;
      font-family: cursive;


}

fieldset {					/*Le fieldset va premettre de crée un formulaire et le % permettra de s'adapter à la taille de la fenêtre*/
	margin-right: auto;
	margin-left:auto;
	width : 500px;
    margin-top:10px;
    padding-top:10px;
    padding-bottom: 10px;
}

#civilite {
    width : 58px
}

input {
	border-radius: 5px;
}

legend {font-size:17px;}


.blue_border{
	border : 2px dotted blue;
}

.border {
	display : block;
	width: 150px;
	margin: auto auto auto 8px;  	/*Margin gère les marges extérieures (haut, droite, bas, gauche)*/
	float: left;					/*Float spécifie à un élément qu'il doit être retiré du flux normal et qu'il doit soit se placer à droite ou à gauche*/

}

.right {
	margin-left: 25px;
}

#sexe {
	border : 2px dotted blue;	/*Border permet de crée une bordure autour de texte ou de blocs afin le mettre en relief*/
	display : inline;			/*Display permet d'indiquer le mode de rendu d'un élément html, les éléments en type inline ne peuvent contenir que des éléments de type inline et du texte*/
	width:150px;				/*Width permet de spécifier la largeur d'un élément celui des labels pour cette occasion*/
}

input[type="submit"] {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
    background-color:#ffffff;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:2px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:Arial;
    font-weight:bold;
    padding:1px 28px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    margin-left: 180px;
}



 input[type="submit"]:hover {
     background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #B0B0B0));
     	background:-moz-linear-gradient(top, #f6f6f6 5%, #B0B0B0 100%);
     	background:-webkit-linear-gradient(top, #f6f6f6 5%, #B0B0B0 100%);
     	background:-o-linear-gradient(top, #f6f6f6 5%, #B0B0B0 100%);
     	background:-ms-linear-gradient(top, #f6f6f6 5%, #B0B0B0 100%);
     	background:linear-gradient(to bottom, #f6f6f6 5%, #B0B0B0 100%);
     	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#B0B0B0',GradientType=0);
     	background-color:#f6f6f6;
}

 input[type="submit"]:active {

     position:relative;
	top:1px;
 }

input:hover  {/*Input correspond à créer des contrôles interactifs pour l'utilisateur dans les formulaires WEB*/
background-color : yellow;
}